<section id="employee-view" class="mainbar">
    <section class="matter">
        <div class="container page-header" >
            <ul>
                <li><a id="backToLoist" href="javascript:void(0)" ui-sref="employees">Back to list</a></li>
            </ul>
        </div>
    </section>
    <section class="matter">
        <div class="container">
            <form name="editForm" novalidate>
                <div class="employeeEdit">
                    <div class="row">
                        <div class="col-md-2">
                            First Name:
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="firstName" class="form-control" data-ng-model="employee.FirstName" required />
                            <span class="errorMessage" ng-show="editForm.firstName.$dirty && editForm.firstName.$invalid">
                                First name is required
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            Last Name:
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="lastName" class="form-control" data-ng-model="employee.LastName" required />
                            <span class="errorMessage" ng-show="editForm.lastName.$dirty && editForm.lastName.$invalid">
                                Last name is required
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            Division ID:
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="divisionID" class="form-control" data-ng-model="employee.DivisionID" ng-pattern="/^[1-2]$/" required />
                            <span class="errorMessage" ng-show="editForm.divisionID.$dirty && editForm.divisionID.$invalid">
                                Division is required.
                            </span>    
                            <!--As suggested by Ajay, explicitly mentioning the Ids range-->
                            <span ng-show="editForm.divisionID.$error.pattern || editForm.divisionID.$invalid"> Only Ids in the range (1-2) are allowed.</span>                                                   
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            Designation ID:
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="designationID" class="form-control" data-ng-model="employee.DesignationID" ng-pattern="/^[1-3]$/" required />
                            <span class="errorMessage" ng-show="editForm.designationID.$dirty && editForm.designationID.$invalid">
                                Designation is required.
                            </span>
                            <!--As suggested by Ajay, explicitly mentioning the Ids range-->
                            <span ng-show="editForm.designationID.$error.pattern || editForm.designationID.$invalid"> Only Ids in the range (1-3) are allowed.</span>                            
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            Location:
                        </div>
                        <div class="col-md-10">
                            <input type="text" name="location" class="form-control" data-ng-model="employee.Location" required />
                            <span class="errorMessage" ng-show="editForm.location.$dirty && editForm.location.$invalid">
                                Location is required
                            </span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <button id="btnAddEmployee" type="submit" class="btn btn-primary" data-ng-click="saveEmployee()" ng-disabled="editForm.$invalid || !editForm.$dirty">{{buttonText}}</button>
                            &nbsp;&nbsp;
                            <button class="btn btn-danger" data-ng-if="employee.id > 0" data-ng-click="deleteEmployee()">Delete</button>
                        </div>
                    </div>
                    <br />
                    <!--<div class="statusRow">
                        <br />
                        <div class="label label-success" data-ng-show="updateStatus">
                            <span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;employee updated!
                        </div>
                    </div>-->
                    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                        <strong> {{message}}</strong>
                    </div>
                </div>
            </form>
        </div>
    </section>
</section>