
<section id="registration-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="panel-group" id="accordion1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Change Password
                            <a data-cc-widget-minimize allow-collapse="true" class="pull-right"></a>
                        </h4>
                    </div>
                    <div class="panel-body" ng-controller="changePasswordController">
                        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                            <strong id="errorMessage"> {{message}}</strong>
                        </div>
                        <div id="readOnlyForm">
                            <form name="updatePasswordForm" id="updatePasswordForm" role="form" novalidate>
                                <fieldset>
                                    <legend></legend>
                                    <fieldset>
                                        <div class="verySmall">
                                            <label for="oldPassword">Old Password&nbsp;<span class="required">*</span></label>
                                            <input type="password" class="form-control" name="oldPassword" id="oldPassword" data-ng-model="user.oldPassword" required />
                                            <div ng-show="updatePasswordForm.oldPassword.$error.required && updatePasswordForm.isSubmitted" id="requiredOPassword" class="required">Required</div>
                                        </div>
                                        <br />
                                        <div class="verySmall">
                                            <label for="newPassword">New Password &nbsp;<span class="required">*</span></label>
                                            <input type="password" class="form-control" name="newPassword" id="newPassword" ng-model="user.newPassword" ng-minlength=6 required />
                                            <div ng-show="updatePasswordForm.newPassword.$error.required && updatePasswordForm.isSubmitted" class="required">Required</div>
                                            <div ng-show="updatePasswordForm.newPassword.$error.minlength && updatePasswordForm.isSubmitted" class="required">Minimum 6 letters are required</div>
                                        </div>
                                        <br />
                                        <div class="verySmall">
                                            <label for="confirmPassword">Confirm New Password &nbsp;<span class="required">*</span></label>
                                            <input type="password" class="form-control" data-ng-model="user.confirmPassword" name="confirmPassword" id="confirmPassword" ng-model-options="{ updateOn: 'blur' }" required />
                                            <div ng-show="updateProfileForm.confirmPassword.$error.required && updatePasswordForm.isSubmitted" class="required">Required</div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-2">
                                                <button class="btn btn-md btn-primary btn-block" type="submit" name="submit" id="submit" ng-click="save(updatePasswordForm)">Update</button>
                                            </div>
                                            <div class="col-md-2">
                                                <input class="btn btn-md btn-default btn-block" type="submit" name="close" id="cancel" value="Cancel" ng-click="cancel()" />
                                            </div>
                                            <div class="col-md-8">
                                            </div>
                                        </div>
                                    </fieldset>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>